/* Fixed Top Menu */
*{
    margin: 0;
}
#navbar{
    background-color: black;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: -50px;
    transition: top 0.3s;
}
#navbar a{
    display: block;
    float:left;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
}
#navbar a:hover{
    background-color: gray;
    color: black;
}
